<div class="container">
<h1>Contact List
  <a [routerLink]="['/product-create']" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</h1>
 <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product Image</th>
        <th>Product Price</th>
        <th>Product Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
	   	<td>{{ product.name }}</td>
        <td>{{ product.image }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td><a [routerLink]="['/product-detail', product.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>