<div class="container">
 <div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container" seamless="seamless">
       
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1177-64ACF6EA-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1195-057710EE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-22127-F19D3DDB-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-20175-8E3A7E0B-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-14056-DDBA88C7-uk.jpg')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-9095-764FF4DD-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-10675-3BB4D5CC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-5565-2680C286-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-215-ADEFD434-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-222-7775266C-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4776-BC16C44D-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-14054-05596A39-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-31747-5060EAE7-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-22122-E39143D0-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4773-675A8B93-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-245-A6F170DE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1603-39AFDCC8-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-35329-D0F299FE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-237-3D52D86C-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-198-4B8CB264-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4755-AEB7312B-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4981-113699FE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4745-43E2F6EF-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4750-A4DDD764-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-20174-1718C1E9-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-233-39F70241-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-239-9B2EF57D-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-240-E0E62DEF-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-27690-8E5AB5D9-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-9096-D0B2DED3-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1605-B503E6EB-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-241-87512F75-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-244-4D7A3829-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-9094-1DC22E71-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-213-E32990ED-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-33170-D0F8F514-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-200-A572105A-uk.jpg')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-202-E9D87E50-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-207-AD1F1E50-uk.jpeg')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-195-4D1E1775-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-9662-51D85A9A-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-193-652EC8FE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4982-6523598F-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4746-1C85A2CB-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-236-6AC699B0-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1188-0D3E2CEA-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-22129-AE784E10-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-1175-0E5C2DBE-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-234-7B0FEA2F-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4744-E27CEF28-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4782-CDAAC55B-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-11509-7654E2A6-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-24717-5E377BC0-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-4980-CD28A46A-uk.png')"></div>
            <!-- END PANEL -->
        </div>
    </div>
</div>

</div>