<div class="container">
	<div class="row gallery-row">
		<!-- Begin Gallery Row -->
		<div class="span12">
			<h5 class="title-bg">
				<small>{{title}}</small>
			</h5>
			<!-- Gallery Thumbnails For OneThousandShades
        ================================================== -->
			<div class="row clearfix no-margin">
				<ul class="gallery-post-grid holder">

					<!-- Gallery Item 1 -->
					<li *ngFor="let image of images" class="span3 gallery-item" data-id="id-1" data-type="illustration">
						<span class="gallery-hover-4col hidden-phone hidden-tablet">
							 <span class="gallery-icons"> 
								 <a	href="assets/img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
								 <a href="gallery-single.htm" class="item-details-link"></a>
							</span>
						</span>
						<a href="gallery-single.htm"><img src="{{image.url}}" alt="Gallery"></a>
					    <span class="project-details">
					    <a href="gallery-single.htm">Product1</a>
					    Product1
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- End Gallery Row -->
</div>
<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>