.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styles go here */
* { box-sizing: border-box};
ul {list-style: none}
.scrollable { height: 700px;}

.scrollable.section {overflow:auto;}

.myscroll {
      padding: 0 20%;
 }
.wrapper {
	  width: 560px;
}
.myitem {
	  pointer-events: none;
	  min-width: 200px;
	  min-height: 200px;
	  margin: 0 5px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
}
.myselected-item {
	  margin-top: 20px;
	  text-align: center;
}
.myselected-item-data {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
}
    
 .left-right-arrow{
	 margin-bottom:220px; 
	 height:79px;
	 width:32px;
	 background:none repeat scroll 0 0 #FE980F;
 }
 
.left-right-img{
	height:20px;
	width:7.14px;
	margin-top:30px;
}