<div class="container">
	<div class="row gallery-row">
		<!-- Begin Gallery Row -->
		<div class="span12">
			<h5 class="title-bg">
				<small>{{title}}</small>
			</h5>
			<!-- Gallery Thumbnails For OneThousandShades
        ================================================== -->
			<div class="row clearfix no-margin">
				<ul class="gallery-post-grid holder">
					<!-- Gallery Item 1 -->
					<ng-container *ngFor="let productCat of productCatgories">
						<ng-container *ngFor="let productDetail of productMap[productCat];  let i = index">
								<ng-container *ngIf="i<4">
									<li class="span3 gallery-item" data-id="id-1" data-type="illustration">
										{{productDetail.category}}
										<span class="gallery-hover-4col hidden-phone hidden-tablet">
											 <span class="gallery-icons"> 
												 <a	href="assets/img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox" title="Custom Illustration" data-rel="prettyPhoto"></a>
												 <a href="gallery-single.htm" class="item-details-link"></a>
											</span>
										</span>
										<a href="gallery-single.htm"><img src="{{productDetail.image}}" alt="Gallery"></a>
									    <span class="project-details">
									    <a href="gallery-single.htm">{{productDetail.name}}</a>
									    Price: {{productDetail.price}}
										</span>
									</li>
								</ng-container>
						</ng-container>
					</ng-container>
				</ul>
			</div>
		</div>

	</div>
	<!-- End Gallery Row -->
</div>
<!-- Scroll to Top -->
<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>